<%= react_component(
  'InspirationIndexPage',
  inspirations: @inspireCollection.map{|inspire| InspirationSerializer.new(inspire).as_json}
) %>

<!--
<h1>Inspiration Collection</h1>
<ul>
  <% @inspireCollection.each do |inspire| %>
    <li>
      <%= link_to(
        inspire.title,
        inspire.url
       ) %><br />
       <%= link_to(
         image_tag(inspire.image_url),
         inspire.url
       ) %>
      <br />

        <% inspire.hexes.each do |hex| %>
          <% if hex.code.include?("#") %>
            <%= hex.code %>
          <% else %>
            #<%= hex.code %>
          <% end %>
        <% end %>
     
      <br />
      <%= link_to(
        "Delete",
        inspiration_path(inspire.id),
        method: :delete,
        data: {
          confirm:"Are you sure?"
        }
      ) %>
    </li>
  <% end %>
</ul>
-->
