<section class="container">
  <%= form_for :user, url: update_password_path(@user.id), method: :patch do |form| %>
    <% if @user.errors.any? %>
    <p><%= @user.errors.full_messages.to_sentence %></p>
    <% end %>
  <div>
    <%= form.text_field :current_password, class: "form-control mt-4" %>
    <%= form.label :current_password %>
  </div>  
  <div>
    <%= form.text_field :new_password, class: "form-control" %>
    <%= form.label :new_password %>
  </div>
  <div>
    <%= form.text_field :new_password_confirmation, class: "form-control" %>
    <%= form.label :new_password_confirmation %>
  </div>
    <%= form.submit "Update Password", data: { disable_with: false }, class: "btn btn-outline-primary mt-3" %>
  <% end %>
</section>
