<div class="container">
<%= form_for @user do |form| %>
  <% if @user.errors.any? %>
    <p><%= @users.errors.full_messages.to_sentence %></p>
  <% end %>
  <div>
    <%= form.text_field :first_name, class: "form-control mt-4" %>
    <%= form.label :first_name %>
  </div>
  <div>
    <%= form.text_field :last_name, class: "form-control mt-2" %>
    <%= form.label :last_name %>
  </div>
  <div>
    <%= form.text_field :email, class: "form-control mt-2" %>
    <%= form.label :email %>
  </div>
  <div>
    <%= form.text_field :password, class: "form-control mt-2" %>
    <%= form.label :password %>
  </div>
  <div>
    <%= form.text_field :password_confirmation, class: "form-control mt-2" %>
    <%= form.label :password_confirmation %>
  </div>
  <%= form.submit "Sign Up", class: "btn btn-outline-dark mt-3" %>
<% end %>
</div>
