<ul>
  <% @paletteCollection.each do |key, value| %>
    <li>
      <%= key["title"] %><br />
      <%= link_to(image_tag(key["imageUrl"]), key["url"]) %><br />
      <% colours = key["colors"]["hex"] %>
      <% colours.each do |hex| %>
        #<%= hex %>
      <% end %>
    </li>
  <% end %>
</ul>

<ul>
  <% @colourCollection.each do |key, value| %>
    <li>
      <%= key["title"] %><br />
      <%= link_to(image_tag(key["imageUrl"]), key["url"]) %><br />
      #<%= key["hex"] %>
    </li>
  <% end %>
</ul>
