<%= form_tag(search_terms_path) do %>
  <%= label_tag(:query, "Search for:") %>
  <%= text_field_tag(:query, params[:query]) %>
  <%= submit_tag("Search", name: nil) %>
<% end %>

<% if user_signed_in? %>
  <ul>
    <% @photos.each do |hash, key| %>
      <li>  
        <% if hash["description"] != nil %>
          <%= link_to(hash["description"], hash["links"]["html"]) %><br />
        <% else %>
          <%= link_to("Untitled", hash["links"]["html"])%><br />
        <% end %>
        <%= hash["color"] %><br />
        <%= link_to(image_tag(hash["urls"]["thumb"]), hash["links"]["html"]) %><br />
      </li>
    <% end %>
  </ul>
<%end%>
