<%= form_tag(search_terms_path) do %>
  <%= label_tag(:query, "Search for:") %>
  <%= text_field_tag(:query, params[:query]) %>
  <%= submit_tag("Search", name: nil) %>
<% end %>

<% if user_signed_in? %>
  <ul>
    <% @photos.each do |hash, key| %>
      <li>  
        <%= hash["color"] %><br />
        <%= link_to(image_tag(hash["urls"]["thumb"]), hash["links"]["html"]) %><br />
        <%= hash["links"]["html"] %>
      </li>
    <% end %>
  </ul>
<%end%>
