<%= form_tag(home_path, :method => "get") do %>
  <%= label_tag(:query, "Search for:") %>
  <%= text_field_tag(:query, params[:query]) %>
  <%= submit_tag("Search", name: nil) %>
<% end %>

<% if user_signed_in? %>
  <ul>
    <% @paletteCollection.each do |key, value| %>
      <li>
        <%= link_to(key["title"], key["url"]) %><br />
        id: <%= key["id"] %><br />
        <%= link_to(image_tag(key["imageUrl"]), key["url"]) %><br />
        <% hexArray = key["colors"]["hex"] %>
        <% hexArray.each do |hex| %>
          #<%= hex %>
        <% end %>
        <br />
        <%= link_to "Save", user_colour_palettes_path(current_user, id: key["id"]), method: :post %>
      </li>
    <% end %>
  </ul>

  <ul>
    <% @colourCollection.each do |key, value| %>
      <li>
        <%= link_to(key["title"], key["url"]) %><br />
        id: <%= key["id"] %><br />
        <%= link_to(image_tag(key["imageUrl"]), key["url"]) %><br />
        #<%= key["hex"] %><br />
        <%= link_to "Save", user_colours_path(current_user, id: key["hex"]), method: :post %>
      </li>
    <% end %>
  </ul>

  <ul>
    <% @patternCollection.each do |key, value| %>
      <li>
        <%= key["title"] %><br />
        <%= link_to(image_tag(key["imageUrl"]), key["url"]) %><br />
        <% hexArray = key["colors"]["hex"] %>
        <% hexArray.each do |hex| %>
          #<%= hex %>
        <% end %>
        <br />
        <%= link_to "Save", user_patterns_path(current_user, id: key["id"]), method: :post %>
      </li>
    <% end %>
  </ul>
<% end %>
