<!DOCTYPE html>
<html>
  <head>
    <title>Awesomo</title>
    <meta property='og:title' content="Awesomo" />
    <meta property='og:image' content="https://github.com/joslinchan/awesomo/blob/master/app/assets/images/Awesomo_Screenshot.png" />
    <meta property='og:description' content="A mini design asset search engine for when you just want to code." />
    <meta property='og:url' content="https://awesomo-search.herokuapp.com/" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Share+Tech+Mono"%>
    <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.2.0/css/all.css" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
  </head>

  <body>
    <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %>">
            <%= message %>
        </div>
    <% end %>
    <main>

      <%= yield %>
    </main>
  </body>
</html>
