<!DOCTYPE html>
<html>
  <head>
    <title>Awesomo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <%= link_to 'Awesomo',
      home_path,
      class: 'navbar-brand text-white' %>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#my-nav-menu"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div
        id="my-nav-menu"
        class="collapse navbar-collapse justify-content-end">
      <div class="navbar-nav">
        <% if current_user.present? %>
          <%= link_to "Collection", 
            user_inspirations_path(current_user.id), 
            class: "nav-item nav-link text-white" %>
          <%= link_to "Edit Profile", 
            edit_user_path(current_user.id), 
            class: "nav-item nav-link text-white" %>
          <span class="nav-item navbar-text text-white mr-2">Hi <%= current_user.first_name %></span>
          <%= link_to "Sign Out", 
            session_path, 
            method: :delete,
            class: "btn btn-outline-light" %>
        <% else %>
          <%= link_to "Sign In", 
            new_session_path, 
            class: "btn btn-outline-light mr-2" %>
          <%= link_to "Sign Up", 
            new_user_path, 
            class: "btn btn-outline-light" %>
        <% end %>
      </div>
      </div>
    </nav>
    <% flash.each do |type, message| %>
            <div class="alert alert-<%= type %>">
                <%= message %>
            </div>
    <% end %>
    <main>

      <%= yield %>
    </main>
  </body>
</html>
